.accordion {
  width: 600px;
  border: 1px solid #00C6D8;
  overflow: hidden;
  height: 300px;
  display: block;
  font-family: helvetica; }

h2 {
  background-color: #00C6D8;
  color: white;
  margin: 0 auto;
  padding: 12px 20px;
  font-weight: 300;
  border-top: 1px solid #00B8C8; }

h2:hover {
  background-color: #00DAEE; }

section {
  min-height: 50px;
  height: 200px;
  overflow: hidden;
  transition: height 0.4s ease; }
  section p {
    padding: 0 30px; }

.hidden {
  height: 50px; }
